<!DOCTYPE html>
<html lang="en"> <!-- en en-US -->
<head>
  {{{ link-modulepreload }}}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  {{{ link-stylesheet }}}
  <title>Stosis</title>
</head>
<body>
  {{{ panel }}}
  
  <div id="tvchart-container" class="uk-margin-top"></div>
  
  <select id="select" name="cars" multiple="multiple"></select>
  
  <input id="aweso" />
  
  <div id="tree-container"></div>

  {{{ script-lib }}}

  {{{ script-app }}}
</body>
</html
